

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #111;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
  }

  .main-header{
    background-color: #F8765E;
    margin: 0px;
    padding: 10px;
  }
  .nav-list{
    font-weight: 500;
  }

  h1{
    margin:0px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    padding: 10px;
    font-weight: 800;
  }

  h2 {
    font-size: 30px;
    font-weight: bold;
  }
  
  p.p-main-section{
    font-size: 16px;
    font-weight: bold;
  }

  a {
    color: white;
    text-decoration: none;
    }

  a, li.icon-list, p#right-text{
    font-size: 16px;
    font-weight: bold;
    color: white;
  }

  ul {
    list-style: none;
    padding: 0;
  }


  section {
    margin: 60px 10px;
    padding: 10px;
    background-color: white;
  }
  
  .main-section{
    text-align: center;
    background-color: #F8765E;
    margin: -1px;
    color: white; 
  
  }
  img.main-image {
    width: 100%;
  }

  form {
    margin: 10px 0 60px 0;
    padding:  10px;
  
  }

  form .email{
    background-color: white;
    color: #CDCDCD;
    padding: 20px 25px;
    display: block;
    border-radius: 20px;
    margin: 10px auto;
    width: 100%;
    font-size: 17px;
    font-weight: 700;
    box-shadow: inset 0 1px 5px 0 rgba(0,0,0,0.15);
    border: 1px;
  }


  form .submit{
    background-color: #9BDBE7;
    color: white;
    padding: 20px 20px;
    display: block;
    border-radius: 20px;
    margin: 20px auto;
    font-size: 20px;
    font-weight: 700;
  }

  section.list-section{
    background-color: white;
    width: 90%;
    margin: 0 auto;
    margin-top: -70px;
    border-radius: 20px;
    overflow: hidden;
    z-index: 10;
    box-shadow: 0 10px 34px 0 rgba(210,210,210,0.5);
    padding: 0 20px;
  }

  .p-list-section{
    text-align: left;
    color: #5B6C94;
  }

  h3.title{
    text-align: left;
    color: #031D5B;
  }

  .list-article{
    padding: 60px 20px;
  }

  .rectangle {
    width: 70px;
    height: 5px;
    background: #F8765E;
    margin-bottom: 10px;
  }

  .title-tastes-section {
    color: #F8765E;
    font-size: 30px;
    font-weight: bold;
    margin: 30px 0 10px 0;
  }

  h4{
    color: #031D5B;
    font-size: 26px;
    font-weight: 500;
    margin: 0 0 30px;
  }

  .p-tastes-section{
    color: #5B6C94;
    font-size: 16px;
    font-weight: 500;
  }

  .button {
    background-color: #9BDBE7;
    color: white;
    padding: 20px 20px;
    display: block;
    border-radius: 20px;
    margin: 20px auto;
    font-size: 20px;
    font-weight: 700;
  }

  section.card-section{

  }

  header#header-card{

  }

  h3.h3-card-section{
    position: absolute;
    width: 120px;
    color: #F8765E;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    margin-left: 20px;

  }

  img.img-header-card{
    margin-left: 10px;
    text-align: left;
    display: block;
    width: 40%;

  }

  article.card-article{
    background-color: #9BDBE7;
    border-radius: 20px;
    height: 400px;	
    width: 300px;
    margin: 30px 0 20px 0;
    z-index: 15;

  }
  .square{
    position: absolute;
    width: 700px;
    height: 500px;
    background: #F8765E;
    margin-bottom: 10px;
    z-index: 0;
    right: 20px;
    text-align: right;
  }

  img#comas-img-article{

  }

  p.p-article-card{

  }

.blockironhack{
    text-align: center;
}
.imgheader2{
    margin-left: 10px;

}



  h3#subscribe-text{
    color: #F8765E;
    font-size: 30px;
    font-weight: bold;
  }

  h4#product-text{
    color: #CDCDCD;
    font-size: 26px;
    margin: 0;
  }

  footer{
    background-color: #F8765E;
    margin: 0px;
    padding: 10px;
  }
  li.icon-list{
    color: white;
  }

  

 
  
  /* ---- typography 

  
  h2 {}
  
  h3 {
  }
  h4{
    color: #031D5B;
    font-size: 26px;
    font-weight: 500;

  }
  
  p {
    margin: 0;
  }
  }
  .textsection2{
    color:#5B6C94;
  }
  .tytlesection3 {
    color: #F8765E;
    font-size: 30px;
  }

  .p-section3{
    height: 200px;	
    color: #5B6C94;		
    font-size: 16px;	
    font-weight: 500;	
    line-height: 32px;	
    text-align: center;
    margin: 0 30px;
  }

  

  
  
  
  /* ---- layout 
  
  #site-header {
    padding: 30px 0;
    color: white;
    background: #111;
  }
  
  #site-footer {
    color: white;
    padding: 60px 0;
    background: #111;
  }
  
  #site-main {
    margin-bottom: 60px;
  }
  
  .container {
    margin: 0 20px;
  }
  
  
  }

 
  .section1 {
    background-color: #F8765E;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
    color: white;
  }
  .section2{
    background-color: white;
    width: 90%;
    margin: 0 auto;
    margin-top: -80px;
    border-radius: 20px;
    overflow: hidden;
    z-index: 10;
    box-shadow: 0 10px 34px 0 rgba(210,210,210,0.5);
    padding: 0 40px;
  }
  .section3{
      text-align: center;
  }
  article{
    margin: 2Opx auto;
  }


  


  
  @media (min-width: 768px) {
    .container {
      max-width: 728px;
      margin: 0 auto;
    }
  }
  .titleh33 {
      position: absolute;
  }
  
  /* ---- components 
  .button {
    width: 100%;
    background-color: blue;
    color: #fff;
    border: 1px solid #fff
  }
  
  .button-alt {
    color: blue;
    background-color: #fff;
  }
  .mobileimage{
    width: 100%;
  }
  

  .mobileorange{
      margin: 60px auto;
  }
  .button3{
    height: 60px;	
    width: 178px;	
    border-radius: 20px;	
    background-color: #9BDBE7;	
    box-shadow: 2px 2px 8px 0 rgba(0,0,0,0.14);
  }