/* ---- reset ---- */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  a {
    color: white;
    text-decoration: none;
    }
  ul {
    list-style: none;
    padding: 0;
  }
  h1{
      margin:0px;
  }
  
  /* ---- typography ---- */
  
  body {
    color: #111;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 147%;
  }
  
  h1 { 
    text-transform: uppercase;
    text-align: center;
    color: white;
    padding: 10px;
    font-weight: 800;
}

  
  h2 {}
  
  h3 {
  }
  
  p {
    margin: 0;
  }
  .navlist{
    font-weight: 500;
  }
  .textsection2{
    color:#5B6C94;
  }
  

  
  
  
  /* ---- layout ---- */
  
  #site-header {
    padding: 30px 0;
    color: white;
    background: #111;
  }
  
  #site-footer {
    color: white;
    padding: 60px 0;
    background: #111;
  }
  
  #site-main {
    margin-bottom: 60px;
  }
  
  .container {
    margin: 0 20px;
  }
  
  .section {
    margin-bottom: 20px;
    padding-top: 20px;
  }

  header.principal {
    background-color: #F8765E;
    margin: 0px;
    padding: 10px;
     
  }
  .form1{
      margin: 20px auto;
      padding:  30px;
  }
  .section1 {
    background-color: #F8765E;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
    color: white;
  }
  .section2{
    background-color: white;
    width: 90%;
    margin: 0 auto;
    margin-top: -80px;
    border-radius: 20px;
    overflow: hidden;
    z-index: 10;
    box-shadow: 2px 2px 5px grey;
    padding: 0 40px;
  }
  .section3{
      text-align: center;
  }
  article{
    margin: 2Opx auto;
  }
  #email{
    background-color: white;
    padding: 10px 30px;
    display: block;
    border-radius: 10px;
    margin: 20px auto;
  }
  #submit{
    background-color: #9BDBE7;
    padding: 10px 30px;
    display: block;
    border-radius: 10px;
    margin: 20px auto;
   
  }

  img{
      margin: 30px auto;
      display: block;
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 728px;
      margin: 0 auto;
    }
  }
  
  
  /* ---- components ---- */
  
  .button {
    width: 100%;
    background-color: blue;
    color: #fff;
    border: 1px solid #fff
  }
  
  .button-alt {
    color: blue;
    background-color: #fff;
  }
  .mobileimage{
    width: 100%;
  }
  .rectangle {
    width: 70px;
    height: 5px;
    background: F8765E;
    margin-bottom: 10px;
  }

  .mobileorange{
      margin: 60px auto;
  }
  
  /* ---- section ---- */
  
  section.testimonials {
    // ...
  }
  
  section.testimonials .button {
    margin-bottom: 10px;
  }